body {
 text-align:center;   
 font-family: 'Indie Flower', cursive;
    color:green;
}

img {
 height:250px;   
}

.images{
 margin-top:10px;   
}
input{
    width:130px;
}
h1{
    border:5px solid black;
    
}